@{
    ViewData["Title"] = "About Us";
}
<h1 style="color:blue">@ViewData["Title"]</h1>

<p>
    Jawaharlal Nehru Technological University Kakinada (JNTUK) was initially incepted with the name “The College of Engineering – Vizagapatnam” in 1946. The university grew out of that college. Spread over a sprawling campus of 110 acres in port city of Kakinada, the college became a constituent unit of JNTU Hyderabad in 1972. Subject to the bifurcation of JNTU, it was notified as JNTUK by the act of legislature in 2008 as separate university.
    JNTUK has two constituent colleges under its fold: University College of Engineering (autonomous) Kakinada and University College of Engineering Vizianagaram. The university has nearly 268 affiliated colleges under the jurisdiction of 8 districts.
</p>
