@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 style="color:green">Welcome! To Jawaharlal Nehru Technologiacal University, Kakinada</h3>
    <h3>(accrediated By NAAC)</h3>
    <h3>Kakinada-533 003, Andhra Pradesh, India</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <img src="https://th.bing.com/th/id/R.4c3ee3a8039025dce893e4115c5f05f8?rik=udDRnapSVXbmqg&riu=http%3a%2f%2fwww.aiming.in%2fwp-content%2fuploads%2f2014%2f04%2fjntuk-logo.jpg&ehk=TuaZ1pV%2b0fZ1J%2fJq9eDmViGh8HzeXGRdBugX5ZllAPg%3d&risl=&pid=ImgRaw&r=0" alt="alternatetext" width="150" height="200" style="vertical-align:bottom">
    </div>
    <div>
        <img src="https://th.bing.com/th/id/OIP.dljsB-FDcakXck3bB_oW6QHaFx?pid=ImgDet&rs=1" alt="alternatetext" width="800" height="400">
    </div>
</div>
